<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <title>AuthFlow</title>
</head>
<body>
    <header>
        <h1>AuthFlow</h1>
        <p>Sistema de Autenticaçao e gerenciamento de usuários</p>
    </header>

    <main>

        <section>
            <h2>Bem-Vindo!</h2>
            
            <p>
                Gerencie usuários de forma simples e segura.
            </p>

            <nav>
                <a href="/login">Entrar</a>
                <a href="/register">Criar Conta</a>
            </nav>

        </section>

    </main>

    <footer>
        <p>&copy; 2026 AuthFlow</p>
    </footer>
    
</body>
</html>