<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <header>
    <h1>AuthFlow</h1>
    <h2>Sistema de Gerenciamento de Usuarios</h2>

    <h1>Login</h1>
    </header>

     <main>

        <section>
            <h2>Acesse sua Conta</h2>
            
          <label for="email">Email:</label>
        <input type="text" id="email" name="email">
 
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha">
 
        <button>Lembrar-me</button>
 
        <button>Entrar</button>
        </section>


    </main>

    <main>
        <button>Esqueci minha Senha</button>

        <p>Ainda não possui uma conta?</p>
        <nav>
           
                <a href="/register">Criar Conta</a>
            
        </nav>
    </main>

    <footer>
        <p>&copy; 2026 AuthFlow</p>
    </footer>


</body>
</html>