<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>
</head>
<body>
    <header>
    <h1>AuthFlow</h1>
    <h2>Sistema de Gerenciamento de Usuarios</h2>

    <h1>Registrar</h1>
    </header>

     <main>

        <section>
            <h2>Criar nova conta</h2>
            
          <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome">

            <label for="email">Email:</label>
        <input type="text" id="email" name="email">

        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha">

        <label for="senha">Confirmar Senha:</label>
        <input type="password" id="senha" name="senha">
        <button>Aceitar os termos de uso</button>

        <button>Criar Conta</button>
        </section>
 

    </main>

    <main>
        <h2>Já possui uma conta?</h2>

        <nav>
                <a href="/login">Fazer Login</a>
            
        </nav>
    </main>

    <footer>
        <p>&copy; 2026 AuthFlow</p>
    </footer>


</body>
</html>